
.icon-cw:before { content: '\e800'; } /* '' */
.icon-right-open:before { content: '\e801'; } /* '' */
.icon-down-open:before { content: '\e802'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-address-card:before { content: '\f2bb'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */